# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Poetry
.venv/



# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
Logs/*
!Logs/.gitkeep
#Keep folders but ignore content
Test-artifacts/screenshots/*
!Test-artifacts/screenshots/.gitkeep

# Keep report folders but ignore content
Reports/*
!Reports/.gitkeep
reports/*
!reports/.gitkeep
allure-results/*
!allure-results/.gitkeep
allure-report/*
!allure-report/.gitkeep